<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script>
    $(function(){
        $('#input_username').on('input', function(x) {            
            $.ajax({
            url: "https://gitlab.com/api/v4/users/?username=" + x.target.value
            })
            .done(function( data ) {
                $( "#details_gitlab" ).text( JSON.stringify(data, null, 2) );
            });

            $.ajax({
            url: "https://api.github.com/users/" + x.target.value
            })
            .done(function( data ) {
                $( "#details_github" ).text( JSON.stringify(data, null, 2) );
            });
            
        })
    })
</script>

<input type='text' id='input_username' placeholder="username">
<br>
gitlab: <br>
<pre id="details_gitlab"></pre>
<hr>
github:
<pre id="details_github"></pre>
